<div class="custom-header">
  <div *ngIf="columnName === sortDetails.sortColumn; then currentColumn else differentColumn"></div>

  <ng-template #currentColumn>
    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="sortDetails.sortDirection === 'asc'"></i>
    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="sortDetails.sortDirection === 'desc'"></i>
  </ng-template>

  <ng-template #differentColumn>
    <i class="fa fa-sort" aria-hidden="true"></i>
  </ng-template>

  <ng-content></ng-content>
</div>
