<div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label>
        Show
        <select class="custom-select custom-select-sm form-control form-control-sm"
                [(ngModel)]="pageSize"
                (change)="onMaxSizeChange()"
        >
          <option *ngFor="let size of tableSizes" value="{{ size }}">{{ size }}</option>
        </select>
        Entries
      </label>
    </div>

    <div class="col-md-3 col-sm-12 pr-md-0">
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Search by email"
               [(ngModel)]="searchBox"
               (keyup)="searchByEmail()"
        >
        <div class="input-group-append">
          <label class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></label>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="input-group input-group-sm mb-3">
        <select class="custom-select form-control custom-select-sm form-control-sm" id="statusSelect" aria-label="Small"
                [(ngModel)]="status"
                (change)="onStatusChange()"
        >
          <option value="">Choose...</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="statusSelect">Status</label>
        </div>
      </div>
    </div>
  </div>


  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col" class="d-none d-sm-none d-md-table-cell">Birthdate</th>
        <th scope="col">Status</th>
        <th scope="col">Permissions</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of currentPage; let i = index">
        <th scope="row">{{ (pageNumber - 1)*pageSize + i + 1 }}</th>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td class="text-nowrap d-none d-sm-none d-md-table-cell">{{ user.birthdate }}</td>
        <td>{{ user.active === 'true' ? 'Active' : 'Inactive' }}</td>
        <td>{{ getUserPermissions(user) }}</td>
        <td>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-secondary" id="dropdownActions" ngbDropdownToggle>Action</button>
            <div ngbDropdownMenu aria-labelledby="dropdownActions">
              <button class="dropdown-item" (click)="onModifyUser(user)">Modify user</button>
              <button class="dropdown-item" (click)="onEditUserPermissions(user)">Edit user permissions</button>
              <button class="dropdown-item" (click)="onDelete(user)">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination class="d-flex justify-content-end"
                  [collectionSize]="filteredUsers.length"
                  [(page)]="pageNumber"
                  [pageSize]="pageSize"
                  (pageChange)="onPageChange()"
  ></ngb-pagination>
</div>
